<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bridge client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container">
        <div id="arduino-alert-1" class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Recherche de l’arduino</h4>
            <p>Le système recherche l’arduino, veuillez patienter.</p>
        </div>
        <div id="arduino-alert-2" class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Connexion à l’arduino</h4>
            <p>Le système a trouvé l’arduino mais n’est pas encore connecté, veuillez patienter.</p>
        </div>
        <div id="games-alert" class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Chargement des parties</h4>
            <p>Le système récupère l’historique des parties, veuillez patienter.</p>
        </div>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action"></button>
            <button type="button" class="list-group-item list-group-item-action"></button>
            <button type="button" class="list-group-item list-group-item-action"></button>
            <button type="button" class="list-group-item list-group-item-action"></button>
            <button type="button" class="list-group-item list-group-item-action"></button>
        </div>
        <button type="button" class="btn btn-primary btn-lg">Créer une nouvelle partie</button>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="socket.io.js"></script>
<script src="index.js"></script>
</html>